version: '3'
services:
  api:
    image: "nirekin/api"
    environment:
    - http_proxy
    - https_proxy
    - no_proxy=consul

    ports:
     - "8090:9999"
    command: --logScript --logTime
    deploy:
      placement:
        constraints:
          - node.role == manager

  consul:
    command: -server -bootstrap -advertise 127.0.0.1
    image: "progrium/consul"
    ports:
     - "8300:8300"
     - "8400:8400"
     - "8500:8500"
     - "8600:53/udp"    
    deploy:
      mode: replicated
      replicas: 2
      placement:
        constraints:
          - node.role == manager
